@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: blueviolet;
}

header {
  text-align: center;
  margin-top: 10px;
}

section {
  text-align: center;
  background: #000133;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
  color: white;
}

#table {
  margin-top: 10px;
  width: 200px;
  height: 100px;
}
#but {
  background-color: rgb(34, 224, 34);
  padding: 0.2rem;
  border-radius: 6%;
  margin-top: 0.5rem;
}

div {
  text-align: ;
  padding: 8px;
}

#result {
  color: orangered;
}

footer {
  text-align: center;
}
